.canvas {
  border: 1px solid #374151;
  background-color: #111827;
  border-radius: 0.5rem;
  cursor: grab;
  width: 100%;
  height: 100%;
  display: block;

  &:active {
    cursor: grabbing;
  }
}

.canvasWrapper {
  position: relative;
  min-height: 0;
  width: 100%;
  height: 100%;
  flex: 1;
}